@{
    ViewData["Title"] = "Index";
}
<html lang="en">
<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="~/js/site.js"></script>
	<link href="~/style.css" rel="stylesheet" />

	<link rel="stylesheet" href="~/GestionSoutenances.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/csstemp/bootstrap.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="/css/csstemp/style.css">
	<!-- ALL VERSION CSS -->
	<link rel="stylesheet" href="/css/csstemp/versions.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/css/csstemp/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/csstemp/custom.css">

	<!-- Modernizer for Portfolio -->

	<script src="/js/jstemp/modernizer.js"></script>


</head>
<body class="host_version">

<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleControls" data-slide-to="1"></li>
		<li data-target="#carouselExampleControls" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
				<div id="home" class="first-section" style="background-image:url('/images/slider-01.jpg');">
				<div class="dtab">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 text-right">
								<div class="big-tagline">
										<h2><strong> Soutenance </strong>PFE</h2>
									<p class="lead">Haut qualite de mellieur niveaux </p>
									<a href="#" class="hover-btn-new"><span>Contact Us</span></a>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="#" class="hover-btn-new"><span>lire plus</span></a>
								</div>
							</div>
						</div><!-- end row -->
					</div><!-- end container -->
				</div>
			</div><!-- end section -->
		</div>
		<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('/images/slider-02.jpg');">
				<div class="dtab">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 text-left">
								<div class="big-tagline">
									<h2 data-animation="animated zoomInRight">ISET <strong>Souteance</strong></h2>
									<p class="lead" data-animation="animated fadeInLeft">differntes stage a haut qualite </p>
									<a href="#" class="hover-btn-new"><span>Contact-nous</span></a>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="#" class="hover-btn-new"><span>lire plus</span></a>
								</div>
							</div>
						</div><!-- end row -->
					</div><!-- end container -->
				</div>
			</div><!-- end section -->
		</div>
		<div class="carousel-item">
				<div id="home" class="first-section" style="background-image:url('/images/slider-03.jpg ');">
				<div class="dtab">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 text-center">
								<div class="big-tagline">
									<h2 data-animation="animated zoomInRight"><strong>Souteance</strong>Pfe</h2>
									<p class="lead" data-animation="animated fadeInLeft">
										
									</p>
										<a href="#" class="hover-btn-new"><span>Contact-nous</span></a>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="#" class="hover-btn-new"><span>lire plus</span></a>
								</div>
							</div>
						</div><!-- end row -->
					</div><!-- end container -->
				</div>
			</div><!-- end section -->
		</div>
		<!-- Left Control -->
		<a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<span class="fa fa-angle-left" aria-hidden="true"></span>
			<span class="sr-only">Presdent</span>
		</a>

		<!-- Right Control -->
		<a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<span class="fa fa-angle-right" aria-hidden="true"></span>
			<span class="sr-only">suivante</span>
		</a>
	</div>
</div>

<div id="overviews" class="section wb">
	<div class="container">
		<div class="section-title row text-center">
			<div class="col-md-8 offset-md-2">
					<h3>Apropos</h3>
				<p class="lead">cours et stage</p>
			</div>
		</div><!-- end title -->

		<div class="row align-items-center">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="message-box">
					<h4>2024 projet de fin  d'etude'</h4>
					<h2>Bienvenu a isetso</h2>
					<p>Bon courage </p>
					<p> avec isetso une bonne resultat </p>

					<a href="#" class="hover-btn-new orange"><span> plus</span></a>
				</div><!-- end messagebox -->
			</div><!-- end col -->

			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="post-media wow fadeIn">
						<img src="/images/about_02.jpg" alt="" class="img-fluid img-rounded">
				</div><!-- end media -->
			</div><!-- end col -->
		</div>
		<div class="row align-items-center">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="post-media wow fadeIn">
						<img src="/images/about_03.jpg" alt="" class="img-fluid img-rounded">
				</div><!-- end media -->
			</div><!-- end col -->

			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
				<div class="message-box">
					<h2>Souteance pour etudiantes pfe</h2>
					<p>Mdw</p>
					<p> Dsi</p>
						<p> Rsi</p>

					<a href="#" class="hover-btn-new orange"><span>plus</span></a>
				</div><!-- end messagebox -->
			</div><!-- end col -->

		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->
	<script src="/js/jstemp/all.js"></script>
	<!-- ALL PLUGINS -->
	<script src="/js/jstemp/custom.js"></script>
	<script src="/js/timeline.min.js"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>

</body>
</html>